body
{
    text-align: center;
}
.container{
  background-color:lightskyblue;  
}
#app {
    background-color:dodgerblue;
}

#myCarousel
{
    background-color:deepskyblue;
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
